@model IEnumerable<Centro_de_estudios.Models.Impartir>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="SelectAsignaturasForImpartir">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profesor.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profesor.PrimerApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profesor.SegundoApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mesesDocenciaTotal)
            </th>
            <th>
                Select Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profesor.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profesor.PrimerApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profesor.SegundoApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mesesDocenciaTotal)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ImpartirId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ImpartirId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
